<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icis.mapper.BaseAttrInfoMapper">
    <resultMap id="attriInfoMap" type="BaseAttrInfo" autoMapping="true">
        <!--配置一对多关系映射-->
        <id column="id" property="id"></id>
        <collection property="attrValueList" ofType="BaseAttrValue" autoMapping="true">
            <id column="bavId" property="id"></id>
        </collection>
    </resultMap>
    <!--根据三级分类Id获得平台属性和平台属性值-->
    <select id="attrInfoList" parameterType="java.lang.String" resultMap="attriInfoMap">
        SELECT
          bai.`id`,
          bai.`catalog3_id`,
          bai.`attr_name`,
          bav.`id` bavId,
          bav.`attr_id`,
          bav.`value_name`
        FROM
          `base_attr_info` bai
          INNER JOIN `base_attr_value` bav
            ON bai.`id` = bav.`attr_id`
        WHERE bai.`catalog3_id` = #{cal3Id} ;
    </select>
</mapper>